<!-- 
  Archivo: getall.html
  Autor: Karyn Movil Estacio
  Fecha: 2025-10-02
  Descripción: Vista para listar clientes en una tabla responsiva con PrimeNG y TailwindCSS.
-->

<div class="p-6">
  <!-- Botón para crear un nuevo cliente -->
  <div class="flex justify-end mb-4">
    <button
      pButton
      type="button"
      class="p-button p-component bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md"
      icon="pi pi-plus"
      label="Nuevo Cliente"
      [routerLink]="['/client/create']"
    >
    </button>
  </div>

  <!-- Tabla responsiva -->
  <div class="overflow-x-auto rounded-lg shadow-md">
    <p-table
      [value]="clients"
      stripedRows
      responsiveLayout="scroll"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <!-- Encabezado de tabla -->
      <ng-template pTemplate="header">
        <tr class="bg-gray-100 text-gray-700 text-sm uppercase tracking-wide">
          <th class="p-3 text-left">Id</th>
          <th class="p-3 text-left">Nombre</th>
          <th class="p-3 text-left">Apellido</th>
          <th class="p-3 text-left">Email</th>
          <th class="p-3 text-left">Teléfono</th>
          <th class="p-3 text-left">Dirección</th>
        </tr>
      </ng-template>

      <!-- Cuerpo de tabla -->
      <ng-template pTemplate="body" let-client>
        <tr class="border-b hover:bg-gray-50">
          <td class="p-3">{{ client.client_id }}</td>
          <td class="p-3">{{ client.first_name }}</td>
          <td class="p-3">{{ client.last_name }}</td>
          <td class="p-3">{{ client.email }}</td>
          <td class="p-3">{{ client.phone }}</td>
          <td class="p-3">{{ client.address }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
